<div class="container" *ngIf="pet">
  <p class="text-right">
    <a [routerLink]="['/']">Home</a>
  </p>
  <h3>Details about {{pet.name}}</h3>
  <h5>Pet type: {{pet.pettype}}</h5>
  <h5>Description: {{pet.description}}</h5>
  <h5>Skills: {{pet.skill1}}</h5>
  <h5 class="skill">{{pet.skill2}}</h5>
  <h5 class="skill">{{pet.skill3}}</h5><hr>
  <h5>Likes: {{pet.likes}}</h5>

  <button (click)="onLikes()" [disabled]="isLike" class="btn btn-success"> Like this pet </button>
  <span>&nbsp;</span>
  <button (click)="onAdopt()" class="btn btn-danger"> Adopt this pet </button>

</div>